/*!
 * Block Type:  core/columns
 * Style Name:  cards
 * Style Label: Cards
 */

@import "abstracts/variables/colors";

.wp-block-columns.is-style-cards {
	gap: 1em;
	margin-bottom: 1em;

	.wp-block-column {
		border: 2px solid color(grey-lightest);
		border-radius: .625rem;
		padding: .625rem 1.625rem;
	}
}
