@import "abstracts/abstracts";

.ptc-shortcode-bio-card {
	background: color(true-white);
	border: 2px solid color(grey-lightest);
	border-radius: rem-calc(10);
	padding: rem-calc(30 15);
	text-align: center;

	@include breakpoint(medium) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: left;
		padding: rem-calc(30);
	}

	.user-avatar {
		margin-right: rem-calc(30);
		text-align: inherit;

		img {
			border-radius: 999px;
		}
	}

	.user-details {
		flex: 1;
		max-width: 100%;

		> :first-child {

			@include breakpoint(medium) {
				margin-top: 0;
			}
		}

		.contact {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include breakpoint(medium) {
				justify-content: flex-start;
				margin-left: rem-calc(-10);
			}
		}
	}
}
