@import "generic/normalize";
@import "abstracts/abstracts";
@import "generic/box-sizing";
@import "generic/layout";

/* Editor main column width */
body {

	&.post-type-post {

		.wp-block {
			max-width: 51.025rem; // to match (most) actual line breaks
		}
	}

	&:not(.post-type-post) {

		.wp-block {
			max-width: 100%;
		}
	}
}

/* WYSIWYG Styles */
.editor-styles-wrapper {
	@import "base/typography/typography";
	@import "components/components";
	font-size: rem-calc(18) !important;

	.editor-post-title__input {
		@include font(heading);
	}

	p,
	ul {
		@include font(body);
	}

	svg {
		height: fit-content;
	}

	// PLUGIN: Code Syntax Block
	.mkaz-code-syntax-block__lang_label {
		margin: -1rem auto 0 auto;
	  padding-right: 1rem;
	}
}