@import "generic/normalize";
@import "abstracts/abstracts";
@import "generic/box-sizing";

body {

	/* Editor main column width */
	&.post-type-post {

		.wp-block {
			max-width: 51.025rem; // to match (most) actual line breaks
		}
	}

	&:not(.post-type-post) {

		.wp-block {
			max-width: 100%;
		}
	}

	/* WYSIWYG Styles */
	.editor-styles-wrapper {
		@import "generic/layout";
		@import "base/base";
		@import "components/components";
		font-size: rem-calc(18) !important;

		.editor-post-title__input {
			@include font(heading);
			line-height: 1.2em;
		}

		p,
		ul {
			@include font(body);
		}

		svg {
			height: fit-content;
		}

		// PLUGIN: Code Syntax Block
		.mkaz-code-syntax-block__lang_label {
		  padding-right: 1rem;
		}
	}
}
