#
# Some rules inspired by:
# https://gist.github.com/jacobamit/64e0d04826c6c11321efa052c0b7b23f
#

# Auto detect text files and perform LF normalization
* text=auto

# Avoid unreadable diffs for generated text files, eg: *.min.js
assets/*.map binary
assets/*.min.* binary
assets/*.css binary

# https://github.com/github/linguist/blob/master/docs/overrides.md
node_modules/ linguist-vendored
