@import "abstracts/abstracts";

.ptc-mailing-list-subscribe {
	text-align: center;
	padding: rem-calc(20);
	background: color(off-white);
	border: 2px solid color(grey-lightest);
	border-radius: rem-calc(10);
	color: color(black);

	@include breakpoint(medium) {
		padding: rem-calc(30 60);

		.content-width-slim & {
			padding: rem-calc(20 30);
		}
	}

	form {

		.form-extra-details {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			gap: rem-calc(10);
			margin: rem-calc(10 0);
		}

		.legal-text {
			flex: 1;
			min-width: rem-calc(250);
			text-align: left;
			font-size: 0.9rem;

			p {
				margin: rem-calc(0 5);
			}

			a {
				white-space: nowrap;
			}
		}

		.cf-turnstile {
			flex: 0 0 300px;
			display: flex;
			min-width: 300px;
			min-height: 65px;
			margin: 0;
			line-height: 0;
			outline: 1px solid color(grey-lightest);
			outline-offset: -1px;
			border-radius: 7px;
			border-radius: rem-calc(7);
			overflow: hidden;

			&:empty {
				align-items: center;
				justify-content: center;
				background-color: color(grey-lightest);

				&::before {
					content: "Loading CAPTCHA widget...";
					font-size: 0.8rem;
					font-style: italic;
					color: color(grey);
				}
			}
		}
	}
}
