@import "generic/normalize";
@import "abstracts/abstracts";
@import "generic/box-sizing";

body {

	.wp-block {
		max-width: 100%;
	}

	/* Editor main column width */
	&.post-type-post {

		.wp-block {
			max-width: 51.025rem; // to match (most) actual line breaks
		}
	}

	/* WYSIWYG Styles */
	.editor-styles-wrapper {
		@import "generic/layout";
		@import "base/base";
		@import "components/components";
		font-size: rem-calc(18) !important;
		padding-bottom: rem-calc(150);

		.is-root-container > h2:first-child {
			margin-top: 3em;
		}

		.editor-post-title__input {
			@include font(heading);
		}

		p,
		ul,
		ol {
			@include font(body);
			line-height: 2;
		}

		svg {
			height: fit-content;
		}
	}
}
