/*
 * Gutenberg Note:
 * Using basic color names like "white" collide with included
 * style rules such that we'd need to use !important flags to override.
 * Let's avoid basic color names to avoid unnecessary use of !important here.
 */
$colors: (
	// branding
	primary-light: #7285f8,
	primary: #3c56f5,
	primary-dark: #1123b0,
	//neutrals
	true-white: #fff,
	off-white: #f6f7fd,
	grey-lightest: #e4e6fd,
	grey-light: #c3c8e5,
	grey: #8c92b1,
	grey-dark: #595d72,
	black: #08082b,
	true-black: #000,
	//statuses
	warning-light: #fff3c4,
	warning: #f7c948,
	warning-dark: #b44d12,
	//
	info-light: #e6f6ff,
	info: #7cc4fa,
	info-dark: #0967d2,
	//
	danger-light: #ffeeee,
	danger: #f86a6a,
	danger-dark: #cf1124,
	//
	success-light: #eefada,
	success: #7dd426,
	success-dark: #307f08
);

// Getter function

@function color($key) {

	@if map-has-key($colors, $key) {

		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}
