body {
	background: color(true-white); // Fallback for when there is no custom background color defined.
}

/* Ensure footer reaches bottom on short pages */
.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	main {
		flex: 1;
		display: flex;
		flex-direction: column;

		> .content-width {
			margin: auto;
		}
	}
}