button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font(body, body-bold);
	border: 1px solid;
	border-radius: 3px;
	border-color: color(primary);
	background: color(primary);
	color: color(white);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover,
	&:active,
	&:focus {
		border-color: color(primary-dark);
		background: color(primary-dark);
	}
}
