button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font(body, body-bold);
	border: 1px solid;
	border-radius: 3px;
	border-color: color(primary);
	background: color(primary);
	color: color(off-white);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover,
	&:active,
	&:focus {
		border-color: color(primary-dark);
		background: color(primary-dark);
	}
}

.button {
	margin-right: rem-calc(7);

	&:last-of-type {
		margin-right: 0;
	}

	&__link {
		display: block;
		text-decoration: none;
		@include font(body, body-bold);
		letter-spacing: .06em;
		color: color(off-white);
		background-color: color(primary);
		border-radius: rem-calc(5);
	  padding: rem-calc(13 20);

		&:hover,
		&:focus,
		&:active,
		&.active,
		&.current,
		&[aria-current] {
			color: color(true-white);
			background-color: color(primary-dark);
		}
	}
}

.badge {
	@include font(body, body-bold);
	font-size: .9em;
	color: color(true-white);
	background-color: color(primary);
	padding: .3em .7em;
	border-radius: rem-calc(5);

	&-dark {
		@extend .badge;
		background-color: color(primary-dark);
	}
}

a.badge {
	color: color(true-white);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: color(true-white);
		background-color: color(primary-dark);
	}

	&-dark {

		&:hover,
		&:focus,
		&:active,
		&.active {
			color: color(true-white);
			background-color: color(black);
		}
	}
}

.wp-block-buttons {
	margin-top: 3em;
	margin-bottom: 1em;

	.wp-block-button {
		@extend .button;

		&__link {
			@extend .button__link;
		}
	}
}