button,
button[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	@include font(body, body-bold);
	border: 1px solid;
	border-radius: rem-calc(7);
	border-color: color(primary);
	background: color(primary);
	color: color(off-white);
	line-height: 1;
	padding: 0.5em 1em;

	&:hover,
	&:active,
	&:focus {
		border-color: color(primary-dark);
		background: color(primary-dark);
	}
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	gap: rem-calc(15);
	margin: rem-calc(45 0 20);
	max-width: 100%;

	&.left {
		justify-content: flex-start;
		text-align: left;
	}
	&.center {
		justify-content: center;
		text-align: center;
	}
	&.right {
		justify-content: flex-end;
		text-align: right;
	}
}

.button {

	&__link,
	> a {
		display: block;
		text-decoration: none;
		@include font(body, body-bold);
		letter-spacing: .06em;
		color: color(off-white);
		background-color: color(primary);
		border-radius: rem-calc(7);
	  padding: rem-calc(13 20);

		&:hover,
		&:focus,
		&:active,
		&.active,
		&.current,
		&[aria-current] {
			text-decoration: none;
			color: color(true-white);
			background-color: color(primary-dark);
		}

		&.has-primary-background-color {
			border-color: color(primary) !important;
			background: color(primary) !important;

			&:hover,
			&:focus,
			&:active,
			&.active,
			&.current,
			&[aria-current] {
				border-color: color(primary-dark) !important;
				background: color(primary-dark) !important;
			}
		}

		&.has-primary-dark-background-color {
			border-color: color(primary-dark) !important;
			background: color(primary-dark) !important;

			&:hover,
			&:focus,
			&:active,
			&.active,
			&.current,
			&[aria-current] {
				border-color: color(black) !important;
				background: color(black) !important;
			}
		}

		&.icon-button {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;

			svg {
				margin-right: .5em;
				font-size: 1.5em;
			}

			&.--is-icon-position-after {
				flex-direction: row-reverse;

				svg {
					margin-right: 0;
					margin-left: 0.5em;
				}
			}
		}
	}
}

.badge {
	@include font(body, body-bold);
	font-size: .9em;
	color: color(true-white);
	background-color: color(primary);
	padding: .3em .7em;
	border-radius: rem-calc(7);

	&-dark {
		@extend .badge;
		background-color: color(primary-dark);
	}
}

a.badge {
	color: color(true-white);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: color(true-white);
		background-color: color(primary-dark);
	}

	&-dark {

		&:hover,
		&:focus,
		&:active,
		&.active {
			color: color(true-white);
			background-color: color(black);
		}
	}
}

.wp-block-buttons {
	margin-top: 3em;
	margin-bottom: 1em;

	&.aligncenter {
		justify-content: center;
	}

	.wp-block-button {
		@extend .button;

		&__link {
			@extend .button__link;
		}
	}
}
