input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: color(grey-lightest);
	border: 1px solid color(grey-light);
	border-radius: 3px;
	padding: 0.3em 0.5em;
	vertical-align: top;
}

select {
	border: 1px solid color(grey-light);
}

textarea {
	width: 100%;
}

.search-form {
	display: flex;
	max-width: rem-calc(500);
	margin: 0 auto;

	label {
		flex: 1;

		.search-field {
			width: 100%;
		}
	}

	.search-submit {
		margin-left: .3em;
	}
}
