a {
	color: color(primary);
	font-weight: font-weight(body-bold);
	text-decoration: none;
	text-underline-offset: 3px;

	&:hover,
	&:focus,
	&:active {
		color: color(primary-dark);
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

figure a {
	display: inline-block; // ensure anchors cover image
}
