a {
	color: color(primary);
	font-weight: font-weight(body-bold);
	text-decoration: none;

	&[rel*='sponsored'] {

		&:after {
			content: "$";
			display: inline-block;
			font-size: .8em;
			padding: .1em .3em 0;
			background-color: color(primary);
			border-radius: 5px;
			color: white;
			vertical-align: text-bottom;
			margin: 0 .2em;
		}

		&:hover,
		&:focus,
		&:active {

			&:after {
				background-color: color(primary-dark);
			}
		}
	} // sponsored

	&:hover,
	&:focus,
	&:active {
		color: color(primary-dark);
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

figure a {
	display: inline-block; // ensure anchors cover image
}
