a {
	color: color(primary);
	font-weight: font-weight(body-bold);

	&:visited,
	&:hover,
	&:focus,
	&:active {
		color: color(primary-dark);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

figure a {
	display: inline-block; // ensure anchors cover image
}
