/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Images */

.wp-block-image img,
.wp-block-image canvas.animation-static-frame,
img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

article:not(.page) { // Post articles only

	.wp-block-image {
		margin: 1.5em 0;
		padding: rem-calc(7);
		border-radius: rem-calc(7);
		background: color(grey-lightest);

		@include breakpoint(medium) {
			padding: rem-calc(10);
			border-radius: rem-calc(10);
		}

		figcaption {
			margin: rem-calc(10 0 3);
			color: color(black);

			@include breakpoint(medium) {
				margin: rem-calc(15 0 5);
			}

			@include breakpoint-down(medium) {
				font-size: 0.875em;
			}
		}
	}

	.wp-block-image img,
	.wp-block-image canvas.animation-static-frame,
	.controlled-animated-media,
	img {
		display: block;
		border-radius: rem-calc(7);
		box-shadow: rem-calc(0 2 5 0) color(grey-light);
		overflow: hidden;

		@include breakpoint(medium) {
			border-radius: rem-calc(10);
			box-shadow: rem-calc(0 3 10 0) color(grey-light);
		}
	}
}

.wp-block-image figure,
figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

.wp-block-image figcaption,
figcaption {
	@include font(body);
	font-size: rem-calc(16);
	color: color(grey-dark);
	text-align: center;
	margin: 1em 0 1.5em;
	line-height: 1.5;
}

%style-default-image,
.wp-block-image.is-style-default img {
	border-radius: rem-calc(20);
	border: 2px solid color(grey-lightest);
}

/* Animation Control */

.controlled-animated-media {
	cursor: pointer !important;
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba(color(black), 0.8);
	}

	&::after {
		content: "Tap to Pause";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include font(heading);
		font-size: 1.3em;
		letter-spacing: 0.05em;
		color: color(true-white);

		@include breakpoint(medium) {
			content: "Click to Pause";
		}
	}

	&::before,
	&::after {
		pointer-events: none !important;
		white-space: nowrap;
		text-shadow: rem-calc(0 3 7) rgba(color(black), 0.5);
		visibility: hidden;
	}

	&:hover {

		&::before,
		&::after {
			visibility: visible;
		}
	}

	&.has-paused-animation {

		&:hover {

			&::after {
				content: "Tap to Play";

				@include breakpoint(medium) {
					content: "Click to Play";
				}
			}
		}
	}
}

/* Gallery */

.wp-block-gallery {
	justify-content: center;
	user-select: none;

	@include breakpoint(medium) {

		@for $i from 1 through 8 {
			&.columns-#{$i} {

				.wp-block-image {
					max-width: calc( #{100% / $i} - var(--wp--style--gallery-gap-default, 16px) ) !important;
					margin: 0 !important;
				}
			}
		}//for
	}

	.wp-block-image {

		img {
			@extend %style-default-image;
			pointer-events: none;
		}
	}

	@include breakpoint-down(medium) {

		@for $i from 1 through 8 {
			&.mobile-columns-#{$i} {

				.wp-block-image {
					max-width: calc( #{100% / $i} - var(--wp--style--gallery-gap-default, 16px) ) !important;
					margin: 0 !important;
				}
			}
		}//for
	}
}//.wp-block-gallery
