/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Images */

.wp-block-image img,
img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

article:not(.page) { // Post articles only

	.wp-block-image img,
	img {
		border: 2px solid color(grey-lightest);
	}
}

.wp-block-image figure,
figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

.wp-block-image figcaption,
figcaption {
	@include font(body);
	font-size: rem-calc(16);
	color: color(grey);
	text-align: center;
	margin: 0.5em 0;
	font-style: italic;
}

%style-default-image,
.wp-block-image.is-style-default img {
	border-radius: rem-calc(20);
	border: 2px solid color(grey-lightest);
}

/* Gallery */

.wp-block-gallery {
	justify-content: center;
	user-select: none;

	@include breakpoint(medium) {

		@for $i from 1 through 8 {
			&.columns-#{$i} {

				.wp-block-image {
					max-width: calc( #{100% / $i} - var(--wp--style--gallery-gap-default, 16px) ) !important;
					margin: 0 !important;
				}
			}
		}//for
	}

	.wp-block-image {

		img {
			@extend %style-default-image;
			pointer-events: none;
		}
	}

	@include breakpoint-down(medium) {

		@for $i from 1 through 8 {
			&.mobile-columns-#{$i} {

				.wp-block-image {
					max-width: calc( #{100% / $i} - var(--wp--style--gallery-gap-default, 16px) ) !important;
					margin: 0 !important;
				}
			}
		}//for
	}
}//.wp-block-gallery
