.referral-badge {
	@extend .button__link;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding: rem-calc(10 20 10 15);
	margin: rem-calc(7);

	svg {
		height: auto;
		width: 1.66em;
		margin-right: rem-calc(15);
	}

	p {
		margin: 0;
		line-height: 1.25;
		letter-spacing: 0.05em;

		small {
			display: block;
			font-weight: font-weight(body);
			white-space: nowrap;
		}
	}
}

.pill-badge {
	@extend .badge;
	color: color(black);
	background-color: color(grey-lightest);
	padding: .3em .7em;
	border-radius: 999px;
}

@keyframes active-light {
	100% {
		opacity: 0.8;
		box-shadow: 0px 0px 5px 1px color(success-dark);
		background-color: color(success-dark);
	}
}

@keyframes away-light {
	100% {
		opacity: 0.8;
		box-shadow: 0px 0px 5px 1px color(warning-dark);
		background-color: color(warning-dark);
	}
}

.ptc-work-status-badge {

	a {
		@extend .referral-badge;
		font-size: 0.8rem;
		background-color: color(black);

		@include breakpoint-down(medium) {
			padding: rem-calc(7 10 7 12);
		}

		@include breakpoint(medium) {
			font-size: 1rem;
		}

		.indicator {
			display: block;
			border-radius: 50%;
			width: rem-calc(8);
			height: rem-calc(8);
			margin: rem-calc(0 12 0 0);
			background-color: color(success);
			box-shadow: 0px 0px 15px 1px color(success);
			opacity: 1;
			animation: active-light 2s ease-in infinite alternate;

			@include breakpoint(medium) {
				width: rem-calc(12);
				height: rem-calc(12);
				margin: rem-calc(10 25 10 10);
			}

			&-limited {
				background-color: color(warning);
				box-shadow: 0px 0px 15px 1px color(warning);
				animation: away-light 1500ms ease-in infinite alternate;
			}

			&-closed {
				background-color: color(danger-dark);
				box-shadow: 0px 0px 15px 1px color(danger-dark);
				animation: none;
			}
		}
	}
}
