.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry-content {

	form.post-password-form {
		@extend .content-width;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 10vh auto;
	}
}

.entry-date {

	.fa-info-circle {
		display: none;
		opacity: .4;
		font-size: 1.2em;
		line-height: 1em;
		vertical-align: text-bottom;

		&:hover,
		&:focus {
			opacity: 1;
		}

		@include breakpoint(large) {
			display: inline;
		}
	}
}
