#footer {

	.footer-main {
		background-color: color(black);
		color: color(grey-light);
		padding: rem-calc(20 0 30);

		@include breakpoint( medium ) {
			padding: rem-calc(45 0 60);
		}

		.content-width {
			@extend %parent-col-2;

			.left,
			.right {
				@extend %child-col-2;
			}

			.left {

				.col-identity {

					.site-logo {
						display: flex;
						align-items: center;
						font-size: rem-calc(60);
						margin-bottom: rem-calc(15);

						@include breakpoint( medium ) {
							font-size: rem-calc(80);
						}

						svg.ptc-type {
							font-size: .6em;
							margin: 0 .1em;
						}
					}

					.site-description {

						p {
							margin-bottom: rem-calc(20);
						}
					}

					.site-social {

						a {
							color: color(white);

							span.fa-linkedin-in {
								display: inline-block;
								background-color: color(primary);
								line-height: rem-calc(40);
								width: rem-calc(40);
								border-radius: 50%;
								text-align: center;
								margin-right: rem-calc(10);
							}
						}
					}
				}
			}

			.right {
				display: block;

				@include breakpoint( medium ) {
					display: flex;
				}

				h6 {
					margin: rem-calc(30 0 15);

					&:first-child {
						margin-top: 0;
					}
				}

				a {
					display: block;
					line-height: 1.3;
					margin: rem-calc(10 0);

					&:hover,
					&:focus,
					&:active {
						color: color(primary-light);
					}
				}

				p {
					margin: rem-calc(15 0);

					&:last-child {
						margin-bottom: 0;
					}
				}

				.col-recent {
					flex: 1;
					padding-right: spacing(gutter);

					a.recent-post_link {
						display: inline;
					}

					.recent-post_date {
						white-space: nowrap;
					}
				}

				.col-links {

					h6:first-child {
						margin-top: rem-calc(30);

						@include breakpoint( medium ) {
							margin-top: 0;
						}
					}
				}
			}
		}
	} // .footer-main

	.site-info {
		background-color: color(primary);

		.content-width {
			@extend %parent-col-2;
			align-items: center;
			padding: 0;
			font-size: .9em;
			color: color(white);

			.left,
			.right {
				@extend %child-col-2;
				margin: 0;
			}

			a {
				color: inherit;
				font-weight: inherit;
			}

			.left {
				text-align: left;

				@include breakpoint-down(medium) {
					padding-bottom: rem-calc(5);
					text-align: center;
				}
			}

			.right {
				text-align: right;

				@include breakpoint-down(medium) {
					padding-top: 0;
					text-align: center;
				}
			}
		}
	} // .site-info
}