#header {
	background-color: color(primary);
	position: relative;
	z-index: 100;
	margin-bottom: -2px;//prevent white line.

	.content-width {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;

		@include breakpoint(medium) {
			flex-direction: row;
		}

		.site-logo {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: safe center;

			@include breakpoint(xsmall) {
				margin-left: rem-calc(-70);
			}

			@include breakpoint(medium) {
				justify-content: flex-start;
				margin: 0;
			}

			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 0;
				font-size: rem-calc(60);

				@include breakpoint(medium) {
					justify-content: flex-start;
				}
			}
		}//.site-logo

		.main-navigation {
			display: flex;
			justify-content: flex-start;
			width: auto;

			@include breakpoint(medium) {
				flex: 1;
				justify-content: flex-end;
			}

			button.menu-toggle {
				@include font(body, body-bold);
				letter-spacing: .06em;
				color: color(off-white);
				border-radius: rem-calc(5);
			  padding: rem-calc(10);
				background-color: color(primary-dark);

				@include breakpoint(medium) {
					display: none;
				}
			}

			ul.menu {
				list-style: none;
				margin: 0;
				padding: 0;
				display: none;

				@include breakpoint(medium) {
					display: flex;
				}

				li {
					@extend .button;
					margin: rem-calc(3);

					a {
						@extend .button__link;
					}
				}
			}
		}
	}
}

/* Mobile menu sidebar */

$sidebar-menu-width: 45vw;
$sidebar-transition-duration: 300ms;

@include breakpoint-down(medium) {

	html {

		body {

			> .site {
				position: absolute;
				width: 100vw;
				left: 0;
				transition: left $sidebar-transition-duration, width $sidebar-transition-duration;

				> * {
					width: 100vw;
				}

				#header {
					z-index: unset;

					.main-navigation {
						z-index: 200;

						.menu-main-nav-container {
							position: fixed;
							top: 0;
							left: -$sidebar-menu-width;
							bottom: 0;
							display: block;
							background-color: color(black);
							width: $sidebar-menu-width;
							transition: left $sidebar-transition-duration;

							ul.menu {
								display: block;
								position: absolute;
								top: rem-calc(5);
								left: 0;
								width: 100%;
								font-size: rem-calc(18);

								li {
									margin: 0;

									&.current-menu-item {
										background-color: color(primary);

										a {

											&:hover,
											&:focus,
											&:active {
												color: color(off-white);
											}
										}
									}

									a {
										background: none;

										&:hover,
										&:focus,
										&:active {
											color: color(primary);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}// html
}// breakpoint-down mobile

html.mobile-menu-open {
	overflow: hidden !important; // prevent scrolling

	body {

		#overlay {
			display: block;
		}

		> .site {
			left: $sidebar-menu-width;
			width: 100vw - $sidebar-menu-width;
			height: 100vh;

			#header {

				.main-navigation {

					.menu-toggle {
						background-color: color(primary);
					}

					.menu-main-nav-container {
						left: 0;
					}
				}
			}
		}
	}
}// html.mobile-menu-open
