#header {
	background-color: color(primary);
	position: relative;
	z-index: 100;

	.content-width {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;

		@include breakpoint(medium) {
			flex-direction: row;
		}

		.site-logo {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: safe center;

			@include breakpoint(xsmall) {
				margin-left: rem-calc(-70);
			}

			@include breakpoint(medium) {
				justify-content: flex-start;
				margin: 0;
			}

			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 0;
				font-size: rem-calc(60);

				@include breakpoint(medium) {
					justify-content: flex-start;
				}
			}
		}//.site-logo

		.main-navigation {
			display: flex;
			justify-content: flex-start;
			width: auto;

			@include breakpoint(medium) {
				flex: 1;
				justify-content: flex-end;
			}

			button.menu-toggle {
				@include font(body, body-bold);
				letter-spacing: .06em;
				color: color(off-white);
				border-radius: rem-calc(5);
			  padding: rem-calc(10);
				background-color: color(primary-dark);

				@include breakpoint(medium) {
					display: none;
				}
			}

			ul.menu {
				list-style: none;
				margin: 0;
				padding: 0;
				display: none;

				@include breakpoint(medium) {
					display: flex;
				}

				li {
					@extend .button;

					a {
						@extend .button__link;
					}
				}
			}
		}
	}
}