.template-index {
	margin-bottom: rem-calc(120);

	.page-header {
		padding: rem-calc(15 0 30);
		color: color(white);
		text-align: center;

		.page-title {
			margin-top: 0;
			margin-bottom: 0;
			color: color(primary-light);

			span {
				color: color(white);
			}
		}

		.all-categories {
			margin-top: rem-calc(30);

			a {
				display: inline-block;
				word-wrap: none;
				margin: .2em;
			}
		}
	}

	.posts-loop {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;

		$article_spacing: rem-calc(10);

		article {
			flex-basis: calc( 100% - #{$article_spacing} );
			width: calc( 100% - #{$article_spacing} ); // legacy support
			margin: $article_spacing 0;
			background-color: color(true-white);
			border: 2px solid color(grey-lightest);
			border-radius: $article_spacing;
			overflow: hidden; // ensure border-radius clips children
			transition: all 100ms ease-out;

			display: flex;
			flex-direction: column;

			@include breakpoint( medium ) {
				flex-basis: calc( 50% - #{$article_spacing} );
				width: calc( 50% - #{$article_spacing} ); // legacy support
			}

			&:hover {
				border-color: color(primary);
				transform: translateY( -$article_spacing/2 );
				box-shadow: 0 $article_spacing/2 $article_spacing/2 color(grey-light);
			}

			.entry-header {
				padding: 0;

				a {
					display: block; // full target area

					img {
						width: 100%;
						border: none;
					}
				}
			} // end .entry-header

			.entry-content {
				flex: 1;
				position: relative;
				margin: 0;
				padding: $article_spacing*2;

				.entry-primary-category {
					margin: 0;
					font-size: .9em;

					a {
						@extend .badge;
					}
				}

				.entry-title {
					margin: $article_spacing/1.3 0 0;
					font-size: 1.3em;
				}

				.entry-metadesc {
					margin: 0;
				}
			} // end .entry-content

			.entry-footer {
				padding: $article_spacing*2;

				.entry-readmore {
					margin: 0;

					a {
						display: flex;
						align-items: center;

						svg {
							margin-left: .3em;
						}
					}
				}
			} // end .entry-footer
		}
	}
}