body {
	background-color: color(true-white);

	main.site-main {

		.button-group {

			span {
				font-size: .8em;
			}

			.button {

				> a {

					&.ptc-completionist-free-download {

						svg {
							margin-bottom: .1em;
						}
					}
				}

				> span {

					a {
						font-weight: font-weight(body);
						display: inline-block;
						color: color(off-white);
						border-bottom: 1px dashed color(off-white);

						&:hover,
						&:focus,
						&:active {
							font-weight: font-weight(body-bold);
							color: color(off-white);
							text-decoration: none;
							border-bottom-style: solid;
						}
					}
				}
			}
		}//end button-group

		> header {
			text-align: center;

			h1 {
				margin-bottom: 0.1em;
				font-size: 2rem;

				@include breakpoint(medium) {
					font-size: rem-calc(55);
				}
			}

			h2 {
				margin-top: 0;
			}
		}//end header

		> footer {
			text-align: center;

			h2 {
				margin-top: .5em;

				@include breakpoint(medium) {
					margin-top: 1.3em;
				}
			}

			.asana-disclaimer {
				font-size: 0.8em;
				margin: 2em 0 0;
				text-align: left;
				font-style: italic;

				@include breakpoint(medium) {
					margin: 4em 0 1em;
				}

				a {
					color: inherit;
					text-decoration: underline;
				}
			}
		}//end footer

		.entry-content {

			.subheading {
				margin-top: -.7em;
				font-weight: bold;
				font-size: 1.2em;
				margin-bottom: .7em;
				color: color(grey);
			}

			ul {
				margin: 0;
				padding: 0 0 0 1.2em;

				li {
					margin: .5em 0;
				}
			}

			> .wp-block-group {

				> .wp-block-group__inner-container {
					padding: rem-calc(30 0);

					@include breakpoint(medium) {
						padding: rem-calc(60 0);
					}
				}
			}
		}
	}
}
