body {
	background-color: color(true-white);

	main.site-main {
		margin-bottom: rem-calc(45);

		.entry-content {

			> * {
				padding-left: rem-calc(10);
				padding-right: rem-calc(10);
			}
		}
	}
}
