body {
	background-color: color(true-white);

	main.site-main {

		.button-group {

			span {
				font-size: .8em;
			}

			.button {

				> a {

					&.ptc-completionist-free-download {

						svg {
							margin-bottom: .1em;
						}
					}
				}

				> span {

					a {
						font-weight: font-weight(body);
						display: inline-block;
						color: color(off-white);
						border-bottom: 1px dashed color(off-white);

						&:hover,
						&:focus,
						&:active {
							font-weight: font-weight(body-bold);
							color: color(off-white);
							text-decoration: none;
							border-bottom-style: solid;
						}
					}
				}
			}
		}//end button-group

		> header {
			padding: rem-calc(30) 0 0;
			text-align: center;

			@include breakpoint(medium) {
				padding: rem-calc(60) 0;
			}

			.heading-info {
				position: relative;
			}

			.app-icon {
				position: relative;
				display: inline-block;
				width: rem-calc(90);

				@include breakpoint(medium) {
					width: rem-calc(100);
				}

				@include breakpoint(large) {
					position: absolute;
					display: block;
					width: rem-calc(120);
				}

				img {
					display: block;
					border-radius: rem-calc(20);
				}

				&-asana {
					z-index: 1;
					transform: rotate(-20deg);

					@include breakpoint(large) {
						top: 60%;
						left: calc(-130px - 1vw);
					}

					img {
						animation-delay: .3s;
					}
				}

				&-wordpress {
					transform: rotate(15deg);

					@include breakpoint(large) {
						top: 10%;
						right: calc(-130px - 1vw);
					}

					img {
						animation-delay: 1.3s;
					}
				}
			}

			h1 {
				margin: rem-calc(30) 0 0.5em;
				text-shadow: rem-calc(1 7 10) rgba(color(primary-dark), 0.8);

				@include breakpoint-down(medium) {
					font-size: rem-calc(30);
				}

				@include breakpoint(large) {
					margin: 0 0 0.5em;
				}
			}

			p {
				font-size: 1.2em;

				@include breakpoint(medium) {
					font-size: 1.3em;
				}
			}

			.button-group {
				margin-top: 0;
			}
		}//end header

		> footer {
			text-align: center;

			h2 {
				margin-top: .5em;

				@include breakpoint(medium) {
					margin-top: 1.3em;
				}
			}

			.asana-disclaimer {
				font-size: 0.8em;
				margin: 2em 0 0;
				font-style: italic;

				@include breakpoint(medium) {
					margin: 4em 0 1em;
				}

				a {
					color: inherit;
					text-decoration: underline;
				}
			}
		}//end footer

		.entry-content {

			.subheading {
				margin-top: -.7em;
				font-weight: bold;
				font-size: 1.2em;
				margin-bottom: .7em;
				color: color(grey);
			}

			ul {
				margin: 0;
				padding: 0 0 0 1.2em;

				li {
					margin: .5em 0;
				}
			}

			> .wp-block-group {

				> .wp-block-group__inner-container {
					padding: rem-calc(30 0);

					@include breakpoint(medium) {
						padding: rem-calc(60 0);
					}
				}
			}
		}
	}
}
