body {
	background-color: color(true-white);

	main.site-main {

		.button-dark {
			margin-bottom: 1em;

			a {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				flex-wrap: nowrap;

				svg {
					margin-left: .5em;
					font-size: 1.3em;
				}
			}
		}

		> header {
			text-align: center;
			padding-bottom: rem-calc(80);

			.plugin-info {

				h1 {
					margin-bottom: 0.1em;
					font-size: 2rem;

					@include breakpoint(medium) {
						font-size: rem-calc(55);
					}
				}

				p {
					font-size: 1.15rem;
				}
			}
		}//end header

		.package-info {
			position: relative;
			z-index: 1;
			margin-top: rem-calc(-150);

			.plugin-headers {
				order: 2;
				background-color: color(true-white);
				border-radius: rem-calc(7);
				margin: rem-calc(0 0 30);
				box-shadow: 0 5px 15px rgba(color(black), .3);
				padding-bottom: rem-calc(20);

				h2 {
					margin: 0;
					padding: rem-calc(15);
					// font-size: 1.3rem;
				}

				ul {
					list-style: none;
					padding: 0;

					li {
						display: flex;
						padding: rem-calc(10 15);
						border-top: 1px solid color(grey-light);

						&:last-child {
							border-bottom: 1px solid color(grey-light);
						}

						&:nth-of-type(odd) {
							background-color: lighten(color(grey-lightest), 1.5%);

							@include breakpoint(medium) {
								background-color: lighten(color(grey-lightest), 2%);
							}
						}

						> * {
							flex: 1;
							font-size: 1.15rem;
							line-height: 1em;
							margin: 0;
							white-space: nowrap;
						}

						h3 {
							text-align: left;
						}

						p {
							text-align: right;
						}
					}
				}
			}//end plugin-headers

			.plugin-changelog {
				margin-bottom: rem-calc(90);

				$timeline-dot-size: rem-calc(30);
				$timeline-dot-gutter: #{$timeline-dot-size/1};

				h2 {
					margin-bottom: rem-calc(45);
				}

				&__timeline {
					position: relative;
					margin-top: rem-calc(20);
					border-left: 2px solid color(grey-lightest);
					margin-left: #{$timeline-dot-size/1.9};
					padding-left: $timeline-dot-gutter;

					&:after {
						content: '';
						display: block;
						height: #{$timeline-dot-size/3.0};
						width: #{$timeline-dot-size/3.0};
						bottom: 0;
						left: calc( ( -#{$timeline-dot-size/3.0} / 2.0 ) - 1px );
						background-color: color(grey-lightest);
						border-radius: 50%;
						position: absolute;
					}

					.content {
						position: relative;
						top: rem-calc(-20);

						h3 {
							position: relative;
							line-height: #{$timeline-dot-size + .1rem};
							margin: 3em 0 1em;

							&:before {
								content: '';
								display: block;
								height: $timeline-dot-size;
								width: $timeline-dot-size;
								top: 0;
								left: calc( -#{$timeline-dot-size/1.9} - #{$timeline-dot-gutter} );
								background-color: color(primary);
								border: #{$timeline-dot-size/3.0} solid color(off-white);
								border-radius: 50%;
								box-shadow: 0 0 0 2px color(grey-lightest);
								position: absolute;
							}
						}

						h4 {
							margin-top: .7em;
						}
					}
				}
			}// end plugin-changelog
		}// end package-info
	}
}
