body.file-singular-php {
	background-color: color(off-white);

	.page-content,
	.entry-content,
	.entry-summary {
		margin: 1.5em 0 0;
	}

	main.site-main {
		margin-bottom: rem-calc(120);

		article {

			.entry-header {
				color: color(true-white);
				padding: rem-calc(0 15);

				@include breakpoint(small) {
					padding: rem-calc(0 30);
				}

				@include breakpoint(medium) {
					padding: rem-calc(0 60);
				}

				h1 {
					margin: 0.5em 0 .3em;
					text-shadow: rem-calc(1 3 5) #{color(primary-dark)}80;
				}

				ul.entry-meta {
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						display: inline-block;

						&.entry-date {
							margin-right: .3em;
						}

						&.entry-categories {
							position: relative;
							bottom: rem-calc(2);
							margin-top: .35em;

							@include breakpoint( medium ) {
								margin-top: 0;
							}

							a {
								@extend .badge-dark;
								display: inline-block;
								margin: .15em 0;

								@include breakpoint( medium ) {
									margin: 0;
								}
							}
						}
					}
				}
			}

			.entry-content {
				background-color: color(true-white);
				border-radius: rem-calc(10);
				border: 2px solid color(grey-lightest);
				padding: rem-calc(10 15 30);

				@include breakpoint(small) {
					padding: rem-calc(30 30 60);
				}

				@include breakpoint(medium) {
					padding: rem-calc(45 60 90);
				}
			}
		}
	}

	// == Custom Content Overrides == //

	&.single-ptc-portfolio {

		main.site-main {

			.wave-bg-third {
				&:before {
					height: 100vh;

					@include breakpoint(medium) {
						height: 90vh;
					}

					@include breakpoint(xlarge) {
						height: 66vh;
					}
				}
			}

			article {

				.entry-header {
					ul.entry-meta {
						margin: rem-calc(30 0);

						li {
							display: block;
							margin: rem-calc(10 0);
							font-size: 1.1em;
							line-height: 1.5;

							@include breakpoint(medium) {
								margin: rem-calc(5 0);
								line-height: 1.7;
							}

							strong {
								display: inline-block;

								@include breakpoint(medium) {
									width: 7em;
								}
							}

							&.entry-categories {

								@include breakpoint(medium) {
									text-indent: -7em;
									margin-left: 7em;
								}

								strong {
									text-indent: 0;
								}

								a {
									margin: .2em;
									text-indent: 0;
								}
							}

							&.project-link {
								text-align: center;

								a {
									@extend .badge-dark;
									display: inline-flex;
									align-items: center;
									margin: 1em 0 .5em;
									padding-left: 2em;
									padding-right: 2em;
									border-radius: 999px;

									svg {
										margin-left: 0.5em;
										font-size: 1.3em;
									}
								}
							}
						}
					}
				}

				.entry-content {

					h2:not(:first-of-type) {
						border-top: 2px solid color(grey-lightest);
						margin-top: 2em;
						padding-top: 2em;
					}
				}
			}
		}
	}//&.single-ptc-portfolio
}//body.file-singular-php
