.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

// Site logo link
.site-logo {

	a {
		display: flex;
		align-items: center;
		font-size: rem-calc(60);
		line-height: 1;
		margin-bottom: rem-calc(15);

		@include breakpoint( medium ) {
			font-size: rem-calc(80);
		}

		svg.ptc-type {
			font-size: .6em;
			margin: 0 .1em;
		}
	}

	&.hide-decal-small {

		svg.ptc-decal {
			display: none;

			@include breakpoint(medium) {
				display: block;
			}
		}
	}
}
