body.file-index-php,
body.file-404-php,
body.archive {
	background-color: color(off-white);

	.no-results,
	.not-found {
		text-align: center;

		strong {
			@include font(heading);
			font-size: 1.3em;
		}
	}

	main.site-main {
		margin-bottom: rem-calc(120);

		.page-header {
			padding: rem-calc(15 0);
			color: color(off-white);
			text-align: center;
			margin-bottom: rem-calc($wave_trim_height*1.5);

			.page-title {
				margin-top: 0;
				margin-bottom: 0;
				color: color(primary-light);

				span {
					color: color(off-white);
				}
			}

			.search-form {
				@extend .form-input-button-row-dark;
				margin: rem-calc(30) auto rem-calc(10);
			}

			.archive-description {
				@extend .content-width-slim;

				p {
					margin-bottom: 0;
				}

				+ .all-categories {
					margin-top: 1em;
				}
			}

			.all-categories {
				margin-top: rem-calc(30);

				a {
					display: inline-block;
					white-space: nowrap;
					margin: .2em;
				}
			}
		}

		@import "../components/content/posts-loop";
	}
}
