// Local Variables ---------

$header_wave_trim_distance: 20vh;

// -------------------------

body.file-singular-php {

	main.site-main {
		margin-bottom: rem-calc(120);

		article {

			.entry-header {
				color: color(true-white);

				&.wave-trim-bottom {
					margin-bottom: 0;
					padding-bottom: $header_wave_trim_distance;

					&:after {
						height: rem-calc(200);
						background-position: left bottom;
						background-size: rem-calc(250 200);
					}
				}

				.entry-header-inner {
					padding: rem-calc(30 15 0);

					@include breakpoint(small) {
						padding: rem-calc(30 30 0);
					}

					@include breakpoint(medium) {
						padding: rem-calc(30 60 0);
					}
				}

				h1 {
					margin: 0 0 .3em;
					text-shadow: rem-calc(1 3 5) #{color(primary-dark)}80;
				}

				ul.entry-meta {
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						display: inline-block;

						&.entry-date {
							margin-right: .3em;
						}

						&.entry-categories {
							position: relative;
							bottom: rem-calc(2);
							margin-top: .35em;

							@include breakpoint( medium ) {
								margin-top: 0;
							}

							a {
								@extend .badge-dark;
								display: inline-block;
								margin: .15em 0;

								@include breakpoint( medium ) {
									margin: 0;
								}
							}
						}
					}
				}
			}

			.entry-content-container.content-width {
				margin-top: -$header_wave_trim_distance;

				.entry-content {
					position: relative;
					z-index: 10;
					background-color: color(true-white);
					border-radius: rem-calc(10);
					border: 2px solid transparent;
					padding: rem-calc(10 15 15);

					@include breakpoint(small) {
						padding: rem-calc(30);
					}

					@include breakpoint(medium) {
						padding: rem-calc(45 60);
					}
				}
			}

			.article-footer {
				position: relative;
				z-index: 10;
			}
		}
	}
}//body.file-singular-php
