$wave_trim_height: 50*1.5;
$wave_trim_width: 90*1.5;

.wave-trim {
	background-image: url('../images/wave-transparent.svg');
	height: rem-calc($wave_trim_height);
	background-position: left bottom;
	background-size: rem-calc($wave_trim_width $wave_trim_height);
	background-repeat: repeat-x;
	position: relative;
	top: rem-calc(-20);
	z-index: 1;

	&-bottom {
		position: relative;
		background-color: color(primary);
		color: color(off-white);
		margin-bottom: rem-calc($wave_trim_height);

		&:after {
			@extend .wave-trim;
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			top: 100%;
		}
	}
}

.wave-bg-third {
	position: absolute;
	z-index: -100;
	top: -2px;
	width: 100%;

	&:before {
		content: '';
		display: block;
		height: 55vh;
		background-color: color(primary);

		@include breakpoint(medium) {
			height: 55vh;
		}

		@include breakpoint(xlarge) {
			height: 45vh;
		}
	}

	.wave-trim {
		height: rem-calc(200);
		background-position: left bottom;
		background-size: rem-calc(250 200);
		background-repeat: repeat-x;
		position: relative;
		top: -2px;
		z-index: 0;
	}
}