/*
 * Gutenberg Note:
 * Using basic color names like "white" collide with included
 * style rules such that we'd need to use !important flags to override.
 * Let's avoid basic color names to avoid unnecessary use of !important here.
 */
$colors: (
	// branding
	primary-light: #7285f8,
	primary: #3c56f5,
	primary-dark: #1123b0,
	//neutrals
	true-white: #fff,
	off-white: #f6f7fd,
	grey-lightest: #e4e6fd,
	grey-light: #dee0ed,
	grey: #8c92b1,
	black: #08082b,
	true-black: #000,
	//statuses
	warning-light: #fff3c4,
	warning: #f7c948,
	warning-dark: #cb6e17,
	//
	info-light: #e6f6ff,
	info: #7cc4fa,
	info-dark: #2680c2,
	//
	danger-light: #ffeeee,
	danger: #f86a6a,
	danger-dark: #cf1124,
	//
	success-light: #f2fde0,
	success: #6cd410,
	success-dark: #399709
);

// Getter function

@function color($key) {

	@if map-has-key($colors, $key) {

		@return map-get($colors, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}

// Gutenberg color classes

@each $slug, $color in $colors {
	.has-#{$slug}-background-color {
		background-color: $color;
	}
	.has-#{$slug}-color {
		color: $color;
	}
}