// @import url(https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Poppins:wght@700&family=Roboto:wght@300;500&display=swap);

/* latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/poppins_v15_700.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/roboto_v20_300.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/roboto_v20_500.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Courier Prime';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/courierprime_v2_400.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Courier Prime';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/courierprime_v2_700.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$rem-base: 16px;

$fonts: (
	heading: ('Poppins', sans-serif),
	body: ('Roboto', sans-serif),
	code: ('Courier Prime', monospace)
);

$font-weights: (
	heading: 700,
	body: 300,
	body-bold: 500,
	code: 400,
	code-bold: 700,
);

// Font family getter

@function font-family($key) {

	@if map-has-key($fonts, $key) {
		@return map-get($fonts, $key);
	}

	@warn "Unknown `#{$key}` in $fonts.";
	@return null;
}

// Font weight getter

@function font-weight($key) {

	@if map-has-key($font-weights, $key) {
		@return map-get($font-weights, $key);
	}

	@warn "Unknown `#{$key}` in $fonts.";
	@return null;
}

// Full font style

@mixin font($font-key, $weight-key: $font-key) {
	font-family: font-family($font-key);
	font-weight: font-weight($weight-key);
}

// Foundations rem-calc functions

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base) {
	$value: strip-unit($value) / strip-unit($base-value) * 1rem;

	@if ($value == 0rem) {
		$value: 0; // Turn 0rem into 0
	}

	@return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
	$max: length($values);

	@if $max == 1 {
		@return convert-to-rem(nth($values, 1), $base-value);
	}

	$remValues: ();

	@for $i from 1 through $max {
		$remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
	}

	@return $remValues;
}
