p {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

svg {
	fill: currentColor;
	height: .9em;

	span > &,
	p > & {
		position: relative;
		top: .1em;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	text-align: center;
	position: relative;
	margin: 3em;

	&:before,
	&:after {
		color: color(primary);
		position: absolute;
		vertical-align: top;
		display: block;
		font-size: 5em;
		top: -0.35em;
	}

	&:before {
		content: '\00201C';
		left: -0.6em;
	}

	&:after {
		content: '\00201D';
		right: -0.6em;
	}

	p {
		color: color(primary);
		font-size: 1.3em;
		font-weight: font-weight(body-bold);
		margin: 0 0 .3em;
		font-style: italic;

	}

	cite {
		color: color(grey);
		text-align: center;
		font-style: italic;
		font-weight: 300
	}
}

address {
	margin: 0 0 1.5em;
}

pre,
samp {
	@include font(code);
	display: block;
	border: 1px solid color(grey-light);
	background: color(white);
	border-radius: rem-calc(5);
	padding: 1em 1.5em;
	white-space: pre;
	overflow-x: auto;
	line-height: 1em;
	font-size: .9em;
	margin: 0 0 1em;
	font-variant-ligatures: none;
}

code,
kbd,
tt,
var {
	@include font(code);
	border: 1px solid color(grey-light);
	background: color(white);
	font-size: .9em;
	padding: .2em .3em .1em;
	margin: 0 .2em;
	border-radius: rem-calc(5);
	font-variant-ligatures: none;
	word-break: break-word;

	a & {
		font-weight: font-weight(code-bold);
	}
}

abbr,
acronym {
	border-bottom: 1px dotted color(grey-light);
	cursor: help;
}

mark,
ins {
	background: color(grey-lightest);
	text-decoration: none;
}

big {
	font-size: 1.3em;
}
