body,
button,
input,
select,
optgroup,
textarea {
	@include font(body);
	color: color(black);
	letter-spacing: 0.03em;
	font-size: rem-calc(18);
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

@import "headings";
@import "copy";
