.content-width {
	max-width: var(--wp--style--global--content-size);
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&:not(.wp-block-group) {
		padding: rem-calc(10);
	}

	&-slim {
		@extend .content-width;
		max-width: rem-calc(720) !important;
	}
}
