pre,
pre.wp-block-preformatted,
samp {
	font-family: font-family(code) !important;
	border: 1px solid color(grey-lightest);
	background: color(off-white);
	padding: 1em 1em .8em;
	overflow-x: auto;
	display: block;
	border-radius: rem-calc(5);
	white-space: pre;
	line-height: 1.5em;
	font-size: .9em;
	margin: 0 auto 1.7em !important;
	font-variant-ligatures: none;
	position: relative;
	tab-size: 2;
	hyphens: none;

	@include breakpoint(medium) {
		padding: 1em 1.5em .8em;
	}

	&[data-shcb-language-slug] {
		overflow: hidden;
		padding: 0;
	}

	p + & {
		margin-top: -1em !important;
	}
}

code,
kbd,
tt,
var {
	@include font(code);
	border: 1px solid color(grey-lightest);
	background: color(off-white);
	font-size: .9em;
	padding: .2em .3em .1em;
	margin: 0 .2em;
	border-radius: rem-calc(5);
	font-variant-ligatures: none;
	word-break: break-word;
	hyphens: none;

	&.hljs[lang] {
		@include font(code);
		display: block;
		padding: 1em 1em !important;

		@include breakpoint(medium) {
			padding: 1em 1.5em !important;
		}
	}

	a & {
		font-weight: font-weight(code-bold);
	}

	pre > &,
	samp > & {
		font-size: 1em;
		margin: 0;
		padding: 0;
	}
}

pre.wp-block-code code {
	border: none;
	overflow-x: auto;
}

/* PLUGIN: Syntax Highlighting Code Block */

.wp-block-code[data-shcb-language-slug] {
	position: relative;

	code.hljs[lang] {
		margin: 0;

		&::before {
			@include font(body, body-bold);
			content: attr(lang);
			text-transform: uppercase;
			display: block;
			text-align: right;
			color: color(off-white);
			position: absolute;
			right: .4rem;
			top: .2rem;
			font-size: .7em;
			letter-spacing: .1em;
			line-height: 1.5em;
		}
	}
}
