h1,
h2,
h3,
h4,
h5,
h6 {

	+ ul,
	+ ol {
		// Left-align with heading when immediately after
		margin: 0;
		padding-left: 1.1em;
	}
}

ul,
ol {
	margin: 0 0 2em 1.5em;

	@include breakpoint-down( medium ) {
		margin-left: 0;
		padding-left: rem-calc(20);
	}

	&.item-spacing-wide {

		li {
			margin-top: 1.5em;
		}
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
